[build-system]
requires = ["setuptools >= 45", "wheel", "setuptools_scm >= 6.2", "Cython >= 0.29.20"]
build-backend = "setuptools.build_meta"

[black.tool]
line-length = 100

[tool.setuptools_scm]
write_to = "src/dnaio/_version.py"
